@{
    ViewBag.Title = "Add";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3>Patient Admission Form</h3>
    </div>
    <div class="panel-body">
        <form id="admissionForm">
            <input type="hidden" id="patient_id" name="patient_id" />
            <input type="hidden" id="presscription_id" name="presscription_id" />
            <input type="hidden" id="reffered_by" name="reffered_by" />
            <input type="hidden" id="department_id" name="department_id" />

            <fieldset>
                <legend>Admission Information</legend>
            </fieldset>
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="admission_date">Admission Date</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="k-textbox" name="admission_date" id="admission_date" style="width: 100%;" readonly="readonly">
                </div>
                <div class="col-md-2">
                    <label for="received_by">Received By</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="" name="received_by" id="received_by" style="width: 100%;">
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="received_date">Received Date</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="" name="received_date" id="received_date" style="width: 100%;">
                </div>
                <div class="col-md-2">
                    <label for="received_time">Received Time</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="" name="received_time" id="received_time" style="width: 100%;">
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="place">Choose Desired Place</label>
                </div>
                <div class="col-md-3">
                    <label class="radio-inline"><input type="radio" class="" name="place" value="ward" style="width: 50%;" autocomplete="off">Ward</label>
                    <label class="radio-inline"><input type="radio" class="" name="place" value="cabin" style="width: 50%;" autocomplete="off">Cabin</label>
                </div>
                <div class="col-md-5">
                    <div id="wardDivForWhom">
                        <div class="col-md-5">
                            <label for="ward_for_whom">Ward For Whom</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="" name="ward_for_whom" id="ward_for_whom" style="width: 100%;" autocomplete="off">
                        </div>
                    </div>
                    <div id="cabinDiv">
                        <div class="col-md-5">
                            <label for="room_id">Cabin</label>
                        </div>
                        <div class="col-md-7">
                            <input type="text" class="" name="room_id" id="room_id" style="width: 100%;" autocomplete="off">
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12" id="wardDiv">
                <div class="col-md-2">
                    <label for="ward_type">Ward Type</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="" name="ward_type" id="ward_type" style="width: 100%;">
                </div>

                <div class="col-md-2">
                    <label for="ward_id">Ward</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="" name="ward_id" id="ward_id" style="width: 100%;" autocomplete="off">
                </div>

            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <div class="col-md-2">
                    <label for="bed_id">Bed</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="" name="bed_id" id="bed_id" style="width: 100%;">
                </div>
                <div class="col-md-2">
                    <label for="admission_time">Admission Time</label>
                </div>
                <div class="col-md-3">
                    <input type="text" class="k-textbox" name="admission_time" id="admission_time" style="width: 100%;" readonly="readonly">
                </div>

            </div>
        </form>

        <fieldset>
            <legend>Patient Information</legend>
        </fieldset>
        <div class="col-md-12">
            <div class="col-md-3">
                <label for="patientId">Patient Id</label>
                <input type="text" class="k-textbox" name="patientId" id="patientId" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="full_name">Patient Name</label>
                <input type="text" class="k-textbox" name="full_name" id="full_name" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="dob">Date of Birth</label>
                <input type="text" class="k-textbox" name="dob" id="dob" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="gender">Gender</label>
                <input type="text" class="k-textbox" name="gender" id="gender" style="width: 100%;" readonly="readonly">
            </div>

        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-md-12">

            <div class="col-md-3">
                <label for="age">Age</label>
                <input type="text" class="k-textbox" name="age" id="age" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="address">Address</label>
                <input type="text" class="k-textbox" name="address" id="address" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="blood_group">Blood Group</label>
                <input type="text" class="k-textbox" name="blood_group" id="blood_group" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="departmentId">Department</label>
                <input type="text" class="" name="departmentId" id="departmentId" style="width: 100%;" readonly="readonly">
            </div>

        </div>
        <hr/>
        <fieldset>
            <legend>Treatment Information</legend>
        </fieldset>
        <div class="col-md-12">
            <div class="col-md-3">
                <label for="blood_group">Consultant</label>
                <input type="text" class="k-textbox" name="consultant" id="consultant" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="blood_pressure">Ref. By</label>
                <input type="text" class="k-textbox" name="ref_by" id="ref_by" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="presscritionId">Presscription ID</label>
                <input type="text" class="k-textbox" name="presscritionId" id="presscritionId" style="width: 100%;" readonly="readonly">
            </div>
            <div class="col-md-3">
                <label for="presscription_date">Presscription Date</label>
                <input type="text" class="k-textbox" name="presscription_date" id="presscription_date" style="width: 100%;" readonly="readonly">
            </div>

        </div>

        <div class="row">
            <hr />
            <div class="clearfix"></div>
            <br />
            <div class="col-md-12">
                <input type="button" class="k-button" id="btnSubmit" value="Save Information" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var presscritionId = '@ViewBag.presscritionId';
    var current_ward_id = 0;
    var current_room_id = 0;
    var finalDatasource = [];
    var roomBedDatasource = [];
    var wardBedDatasource = [];
    $(function () {
        createDate();
        CreatTime();
        $("#wardDiv").hide();
        $("#wardDivForWhom").hide();
        $("#cabinDiv").hide();
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("GetAllPresscriptionByPresscriptionId", "Presscription")",
            data: {
                presscriptionid: presscritionId
            },
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#full_name").val(data.full_name);
                $("#dob").val(data.dob);
                $("#blood_group").val(data.blood_group);
                $("#address").val(data.address);
                $("#dob").val(data.dob);
                $("#gender").val(data.gender);
                $("#age").val(data.age);
                $("#patientId").val(data.patient_id);
                $("#department_name").val(data.department_name);
                $("#consultant").val(data.doctor_name);
                $("#ref_by").val(data.doctor_name);
                $("#reffered_by").val(data.doctor_id);
                $("#doctor_name").val(data.doctor_name);
                $("#presscription_date").val(data.presscription_date);
                $("#presscritionId").val(presscritionId);
                $("#department_id").val(data.department_id);
                $("#departmentId").val(data.department_id);
                $("#patient_id").val(data.patient_id);
                $("#presscription_id").val(presscritionId);
                loadAllComboBox();
                loadBedCount(null);
                loadWardId(null);
            }


        });
    });
    $("input[name='place']").change(function () {
        var value = $(this).val();
        console.log(value);
        $("#ward_type").data("kendoComboBox").value("");
        $("#ward_for_whom").data("kendoComboBox").value("");
        if (value == 'ward') {
            $("#wardDiv").show();
            $("#wardDivForWhom").show();
            $("#cabinDiv").hide();
            $("#room_id").data("kendoComboBox").value("");
            loadBedCount(null);
            $("#bed_id").data("kendoComboBox").value("");
            var wardType = $("#ward_type").data("kendoComboBox");
            wardType.enable(false);
        } else {
            $("#wardDiv").hide();
            $("#wardDivForWhom").hide();
            $("#cabinDiv").show();
            $("#ward_id").data("kendoComboBox").value("");
            loadBedCount(null);
            $("#bed_id").data("kendoComboBox").value("");


        }
    });
    function loadAllComboBox() {
        $("#departmentId").kendoComboBox({
            placeholder: "-- Select --",
            dataTextField: "department_name",
            dataValueField: "department_id",
            dataSource: {
                transport: {
                    read: {
                        url: "@UrlConfig.Action("GetAllDepartment", "Department")",
                        type: "GET"
                    }
                }
            }
        }).data("kendoComboBox");
        $("#received_by").kendoComboBox({
            placeholder: "-- Select --",
            cascadeFrom: "departmentId",
            dataTextField: "employee_name",
            dataValueField: "employee_id",
            dataSource: {
                transport: {
                    read: {
                        url: "@UrlConfig.Action("GetAllEmployeeDoctor", "Utility")",
                        type: "GET",
                        data: {
                            empStatus: "admission"
                        }
                    }
                }
            }
        }).data("kendoComboBox");
        

        $("#room_id").kendoComboBox({
            placeholder: "-- Select --",
            cascadeFrom: "departmentId",
            dataTextField: "room_no",
            dataValueField: "room_id",
            dataSource: {
                transport: {
                    read: {
                        url: "@UrlConfig.Action("GetAllRoom", "Room")",
                        type: "GET"
                    }
                }
            }

        }).data("kendoComboBox");
        $("#received_time").kendoTimePicker({
            animation: {
                close: {
                    effects: "fadeOut zoom:out",
                    duration: 300
                },
                open: {
                    effects: "fadeIn zoom:in",
                    duration: 300
                }
            }
        });
        $("#received_date").kendoDatePicker({
            animation: {
                close: {
                    effects: "fadeOut zoom:out",
                    duration: 300
                },
                open: {
                    effects: "fadeIn zoom:in",
                    duration: 300
                }
            } //,
            //format: "dd/MM/yyyy"
        });
        $("#ward_for_whom").kendoComboBox({
            placeholder: "-- Select --",
            dataTextField: "ward_for_whom_value",
            dataValueField: "ward_for_whom",
            dataSource: [
                { ward_for_whom: "male", ward_for_whom_value: "Male" },
                { ward_for_whom: "female", ward_for_whom_value: "Female" }
            ]
        }).data("kendoComboBox");
        $("#ward_type").kendoComboBox({
            placeholder: "-- Select --",
            dataTextField: "ward_type_value",
            dataValueField: "ward_type",
            dataSource: [
                { ward_type: "general", ward_type_value: "General" },
                { ward_type: "paid", ward_type_value: "Paid" }
            ]
        }).data("kendoComboBox");
    }

    $("#ward_for_whom").change(function() {
        var wardType = $("#ward_type").data("kendoComboBox");
        $("#ward_type").data("kendoComboBox").value("");
        wardType.enable(true);
        $("#ward_id").data("kendoComboBox").value("");
        loadWardId(null);
    });
    
    $("#ward_type").change(function() {
        var wardTypeValue = $(this).val();
        var wardForWhomValue = $("#ward_for_whom").val();
        var departmentId = $("#department_id").val();
        var wardIdDatasource = [];
        var data = [];
        $("#ward_id").data("kendoComboBox").value("");
        loadWardId(null);
        //console.log(wardForWhomValue, wardTypeValue, departmentId);
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("GetWardByForAdmissionId", "Ward")",
            data: {
                wardTypeValue: wardTypeValue,
                wardForWhomValue: wardForWhomValue,
                departmentId: departmentId
            },
            dataType: "json",
            success: function(e) {
                console.log(e);
                var combobox = JSON.parse(JSON.stringify(e));
                $.each(combobox, function(item, obj) {
                    //alert(ee[item].bed_id);
                    data = { ward_id: obj.ward_id, ward_name: obj.ward_name };
                    wardIdDatasource.push(data);
                });
                console.log(wardIdDatasource);
                loadWardId(wardIdDatasource);
            }
        });

    });
    $("#ward_id").change(function () {
        current_ward_id = 0;
        current_ward_id = $(this).val();
        ///var wardId = $(this).val();
        wardBedDatasource = [];
        var total_bed = 0;
        var data = [];
        finalDatasource = [];
        var combobox = JSON.parse(JSON.stringify($("#ward_id").data("kendoComboBox").dataSource.data()));
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("GetWardById", "Ward")",
            data: {
                wardId: current_ward_id
            },
            dataType: "json",
            success: function (e) {
                console.log(e);
                //alert(e.total_bed);
                total_bed = e.total_bed;


                $.ajax({
                    type: "GET",
                    url: "@UrlConfig.Action("GetAdmissionByWardId", "Admission")",
                    data: {
                        wardId: current_ward_id
                    },
                    dataType: "json",
                    success: function (ee) {
                        console.log(ee);
                        for (var i = 1; i <= total_bed; i++) {
                            data = { bed_id: i, bed_value: i };
                            wardBedDatasource.push(data);
                        }
                        for (var item in ee) {
                            //alert(ee[item].bed_id);
                            for (var obj in wardBedDatasource) {
                                if (wardBedDatasource[obj].bed_id == ee[item].bed_id) {
                                    delete wardBedDatasource[obj];
                                }
                            }
                        }
                        var result = JSON.parse(JSON.stringify(wardBedDatasource));
                        
                        var count = 0;
                        //alert(length);
                        for (var item2 in result) {
                            if (result[item2] == null) {
                                count++;

                            } else {
                                finalDatasource.push(result[item2]);
                            }
                            if (count == total_bed) {
                                swal("Alert !!!", "Ward is full...", "warning");
                                finalDatasource = [];
                                loadBedCount(finalDatasource);
                                return false;
                            }
                        }
                        

                        console.log("ward ds", finalDatasource);
                        console.log("Count ds", count);
                        loadBedCount(finalDatasource);
                    }
                });
            }
        });

    });
    $("#room_id").change(function () {
        current_room_id = 0;
        current_room_id = $(this).val();
        roomBedDatasource = [];
        finalDatasource = [];
        var total_bed = 0;
        var count = 0;
        var data = [];
        $.ajax({
            type: "GET",
            url: "@UrlConfig.Action("GetRoomById", "Room")",
            data: {
                roomId: current_room_id
            },
            dataType: "json",
            success: function (e) {
                console.log(e);
                //alert(e.no_of_bed);
                total_bed = e.no_of_bed;
                $.ajax({
                    type: "GET",
                    url: "@UrlConfig.Action("GetAdmissionByRoomId", "Admission")",
                    data: {
                        roomid: current_room_id
                },
                dataType: "json",
                success: function (ee) {
                    console.log(ee);
                    //roomBedDatasource = [];
                    for (var i = 1; i <= total_bed; i++) {
                        data = { bed_id: i, bed_value: i };
                        roomBedDatasource.push(data);
                    }
                    for (var item in ee) {
                        //alert(ee[item].bed_id);
                        for (var obj in roomBedDatasource) {
                            if (roomBedDatasource[obj].bed_id == ee[item].bed_id) {
                                delete roomBedDatasource[obj];
                            }

                        }
                    }
                    console.log("Room ds", roomBedDatasource);
                    
                    var result = JSON.parse(JSON.stringify(roomBedDatasource));
                    var length = Object.keys(result).length;
                    console.log(length);
                    //alert(length);
                    for (var item2 in result) {
                        if (result[item2] == null) {
                            count++;

                        } else {
                            finalDatasource.push(result[item2]);
                        }
                        
                    }
                    if (count == total_bed) {
                        swal("Alert !!!", "Cabin is full...", "warning");
                        finalDatasource = [];
                        loadBedCount(finalDatasource);
                        return false;
                    }
                    if (count > 0) {
                        $.each(finalDatasource, function(key, ob3) {
                            if (ob3.bed_id == 0 && length == 1) {
                                swal("Alert !!!", "Cabin is full...", "warning");
                                finalDatasource = [];
                                loadBedCount(finalDatasource);
                                return false;
                            }
                        });
                        
                        var lastData = { bed_id: 0, bed_value: "All" };
                        finalDatasource.push(lastData);
                        console.log("Room ds", finalDatasource);
                        loadBedCount(finalDatasource);
                    } else {
                        var lastData = { bed_id: 0, bed_value: "All" };
                        roomBedDatasource.push(lastData);
                        console.log("Count ds", count);
                        console.log("Room ds", roomBedDatasource);
                        loadBedCount(roomBedDatasource);
                    }
                    

                    
                }
            });
            }
        });
        loadBedCount(roomBedDatasource);
    });
    function createDate() {
        var currentDate = new Date();
        var day = currentDate.getDate();
        var month = currentDate.getMonth() + 1;
        var year = currentDate.getFullYear();
        var date = (month + "/" + day + "/" + year);
        $("#admission_date").val(date);
        $("#received_date").val(date);
        return date;
    }
    function CreatTime() {
        var d = new Date(); // for now
        var h = d.getHours(); // => 9
        var m = d.getMinutes(); // =>  30
        var s = d.getSeconds();
        var time = h + ":" + m + ":" + s
        $("#admission_time").val(time);
    }
    function loadBedCount(ds) {
        // alert("click");
        $("#bed_id").kendoComboBox({
            placeholder: "-- Select --",
            dataTextField: "bed_value",
            dataValueField: "bed_id",
            dataSource: ds
        }).data("kendoComboBox");
    }
    function loadWardId(ds) {
        // alert("click");
        $("#ward_id").kendoComboBox({
            placeholder: "-- Select --",
            dataTextField: "ward_name",
            dataValueField: "ward_id",
            dataSource: ds
        }).data("kendoComboBox");
    }

    $("#btnSubmit").click(function () {
        var fromData = $("#admissionForm").serializeArray();
        var admission = {};
        $.each(fromData, function (item, obj) {
            admission[obj.name] = obj.value;
        });
        console.log(admission);
        $.ajax({
            type: "POST",
            url: "@UrlConfig.Action("Post","Admission")",
            data: admission,
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data.output == "success") {
                    swal({
                        title: "success",
                        text: data.msg,
                        type: "success",
                        showCancelButton: false
                    }, function () {
                        window.location.href = '@Url.Action("Index", "Admission")';
                    });
                    return false;
                } else {
                    swal("Alert !!!", data.msg, "warning");
                }
            }

        });
    });
</script>