
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-success">
    <div class="panel-heading">&nbsp;&nbsp;Department</div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>
<script type="text/javascript">
    var hospital_id = '@ViewBag.hospital_id';
    jQuery(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllDepartment", "Department")?hospital_id=" + hospital_id,
                    type: "GET"
                },
                update: {
                    url: "@UrlConfig.Action("Put", "Department")",
                    type: "PUT",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                destroy: {
                    url: "@UrlConfig.Action("Delete", "Department")",
                    type: "DELETE"
                },
                create: {
                    url: "@UrlConfig.Action("Post", "Department")",
                    type: "POST",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                    }
                }
            },
            //    code: "Ok",
            autoSync: false,
            schema: {
                errors: function (e) {
                    console.log(e.errors);
                    //alert(e.error);
                    if (e.output === "error") {
                        console.log(e.output);
                        KendoWindowFunction(e.msg, "error", "");
                        this.cancelChanges();
                    }
                },

                model: {
                    id: "department_id",
                    fields: {
                        department_id: { editable: false, nullable: true },
                        department_name: { type: "string", validation: { required: true } },
                        color_id: { type: "string", validation: { required: true } },
                        color_options: { type: "string" },
                        managed_by: { type: "number" },
                        hospital_id: { defaultValue: hospital_id }

                    }

                }
            }

        });
        jQuery("#grid").kendoGrid({
            dataSource: dataSource,
            filterable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [10, 20, 50]
            },
            sortable: true,
            groupable: true,
            resizable: true,

            toolbar: [{ name: "create", text: "Add Department" }],
            columns: [
                { field: "department_name", title: "Deparment Name", id: "department_id", width: "150px" },
                { field: "managed_by", title: "Managed By", width: "150px" },
                // { field: "color_id", title: "Color", width: "150px" },
               // { field: "color_id", title: "Color Options", editor: colorDropdown, width: "150px" },
                { command: ["edit", "destroy"], title: "Action", width: "230px" }],
            editable: "inline"
        });




    });
    function colorDropdown(container, options) {
        jQuery('<input required data-text-field="department_name" data-value-field="color_id" data-bind="value:' + options.field + '"/>')
            .appendTo(container)
            .kendoColorPicker({

            });
    };

</script>



<div id="kWindow"></div>




