
@{
    ViewBag.Title = "RoleType";
}

<div class="panel panel-success">
    <div class="panel-heading">&nbsp;&nbsp;Role Type</div>
    <div class="panel-body">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    var hospital_id = '@ViewBag.hospital_id';
    jQuery(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllRoleType", "RoleType")",
                    type: "GET"
                },
                update: {
                    url: "@UrlConfig.Action("Put", "RoleType")",
                    type: "PUT",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                    }
                }@*,
                destroy: {
                    url: "@UrlConfig.Action("Delete", "RoleType")",
                    type: "DELETE"
                }*@,
                create: {
                    url: "@UrlConfig.Action("Post", "RoleType")",
                    type: "POST",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                    }
                }
            },
            //    code: "Ok",
            autoSync: false,
            schema: {
                errors: function (e) {
                    console.log(e.errors);
                    //alert(e.error);
                    if (e.output === "error") {
                        console.log(e.output);
                        KendoWindowFunction(e.msg, "error", "");
                        this.cancelChanges();
                    }
                },

                model: {
                    id: "role_type_id",
                    fields: {
                        role_type_id: { editable: false, nullable: true },
                        role_name: { type: "string", validation: { required: true } },
                        role_description: { type: "string" },
                        hospital_id: { defaultValue: hospital_id }

                    }

                }
            }

        });
        jQuery("#grid").kendoGrid({
            dataSource: dataSource,
            filterable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [10, 20, 50]
            },
            sortable: true,
            groupable: true,
            resizable: true,

            toolbar: [{ name: "create", text: "Add Role Type" }],
            columns: [
            { field: "role_name", title: "Role Type", id: "role_type_id", width: "150px" },
            { field: "role_description", title: "Description", width: "150px" },
            //{ field: "hospital_id", title: "Hospital Id", width: "150px" },
            { command: ["edit"], title: "Action", width: "230px" }],
            editable: "inline"
        });




    });


</script>



<div id="kWindow"></div>

