
@{
    ViewBag.Title = "List";
}

<div class="k-grid  k-secondary" data-role="grid">
    <div class="k-toolbar k-grid-toolbar">
        <a class="k-button k-button-icontext k-grid-add" href="@Url.Action("Add", "UserRegistration")">
            <span class="k-icon k-add"></span>
            Add New Employee
        </a>
    </div>
</div>
<div id="grid"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var dataSource = new kendo.data.DataSource({
            pageSize: 20,
            transport: {
                read: {
                    url: "@UrlConfig.Action("GetAllEmployee", "Employee")",
                    type: "GET"
                },
                update: {
                    url: "@UrlConfig.Action("Put", "Employee")",
                    type: "PUT",
                    complete: function (e) {
                        jQuery("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                destroy: {
                    url: "@UrlConfig.Action("DeleteData", "Employee")",
                    type: "DELETE",

                    complete: function (e) {
                        if (e.output == "success") {
                            swal("Sucessfull !!!", e.msg, "success");
                        }
                    }
                }
            },
            autoSync: false,
            schema: {
                errors: function (e) {
                    console.log(e.errors);
                    if (e.output === "error") {
                        console.log(e.output);
                    }
                },

                model: {
                    id: "employee_id",
                    fields: {
                        employee_id: {type:"number", editable: false, nullable: true },
                        employee_name: { type: "string" },
                        joining_date: { type: "date" },
                        department_name: { type: "string" },
                        department_id: { type: "string" },
                        designation: { type: "string" },
                        role_name: { type: "string" },
                        employee_email: { type: "string" },
                        role_type_id: { type: "string" },
                        employee_code: { type: "string", editable: false },
                        nid: { type: "number" },
                        employee_user_name: { type: "string" },
                        employee_password: {type:"string"},
                        employee_email: {type:"string"}

                    }
                }
            }
        });
        jQuery("#grid").kendoGrid({
            dataSource: dataSource,
            filterable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [10, 20, 50]
            },
            sortable: true,
            groupable: true,
            resizable: true,

            columns: [
                { field: "employee_name", title: "Employee Name", width: "150px" },
                { field: "joining_date", title: "Joining Date", width: "150px", template: "#= kendo.toString(kendo.parseDate(joining_date, 'yyyy-MM-ddTHH:mm:ss'), 'MM/dd/yyyy') #" },
                { field: "department_id", title: "Department name", editor: departmentDropDownEditor, template: "#= department_name #", width: "150px" },
                { field: "designation", title: "Designation", width: "150px" },
                { field: "role_type_id", title: "Role Name", editor: roleDropDownEditor, template: "#= role_name #", width: "100px" },
                { field: "employee_code", title: "Employee Code", width: "100px" },
                { command: ["edit","destroy"], title: "Action", width: "230px" }
            ],
            editable: "inline"
        });
        function departmentDropDownEditor(container, options) {
            jQuery('<input required data-text-field="department_name" data-value-field="department_id" data-bind="value:' + options.field + '"/>')
                    .appendTo(container)
                    .kendoComboBox({
                        autoBind: false,
                        placeholder: "-- Select --",
                        dataSource: {
                            transport: {
                                read: {
                                    url: "@UrlConfig.Action("GetAllDepartment", "Department")",
                                type: "GET"
                            }
                        }

                    },
            });
        };
        function roleDropDownEditor(container, options) {
            jQuery('<input required data-text-field="role_name" data-value-field="role_type_id" data-bind="value:' + options.field + '"/>')
                    .appendTo(container)
                    .kendoComboBox({
                        autoBind: false,
                        placeholder: "-- Select --",
                        dataSource: {
                            transport: {
                                read: {
                                    url: "@UrlConfig.Action("GetAllRoleType", "RoleType")",
                                    type: "GET"
                                    
                            }
                        }

                    },
            });
    };
    });
</script>

